body{

    text-align: center;
    background:linear-gradient(#f6bd60,#f5cac3);
    font-family: 'Happy Monkey', cursive;
    color: #005388;
    
}


.header{

    display: flex;
    flex-direction: column;
    align-items: center;

}


#img{

    border-radius: 20px;
    border: 4px solid #f5cac3;
    margin-top: 12px;
    width: 150px;
}


#name {

    margin-top: 33px;
    background-color: #f5cac3;
    padding: 4px 8px;

}


#age{
     
    margin-top: 2px;
    background-color: #f5cac3;
    padding: 4px 8px;

}


.cover-wrapper{

    width: 450px;
    height: 500px;
    border-radius: 13px;
    border: 5px solid #bc6c25;
    margin-top: 14px;
    background-image: url('../images/gift.jpg');
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

}

.gift1{

    margin-top: 30px;

}

.cover-final{

    width: 450px;
    height: 300px;
    border-radius: 13px;
    border: 5px solid #bc6c25;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/gift.jpg');
    background-size: cover;

}

#id-tag1:hover {

    background: url('../images/happy.webp');
    background-size: cover;

}


#id-tag2:hover {

    background: url('../images/boner1.gif');
    background-size: cover;

}

#id-tag3:hover {

    background: url('../images/sad.gif');
    background-size: cover;

}

#id-tag4:hover {

    background: url('../images/couple.webp');
    background-size: cover;
    width: 500px;

}

#id-tag5:hover {

    background: url('../images/final.webp');
    background-size:contain;

}

#p1{

    font-style: italic;
    margin-top: 40px;
}

#p2{
    font-style: italic;
    margin-top: 0px;

}

#weight{

    border-bottom: 2px solid #bc6c25;

}