<!DOCTYPE html>
<html>
    <head>
        <title>My gurl card</title>
        <link rel="stylesheet" href="../style/birth.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <h1 >Here lies my favourite human being!😎</h1>
            <img id='img' src="../images/mygirl.jpg" alt="baddie" >
            <h2  id="name">Her name is aarthi</h2>
            <h3 id="age">20 years old weighing around <span id="weight">165 pounds </span>and 4 feet tall.🤭</h3>
        </div>

        <div class="gift1">
            <h2 class="gift-text">Here is how happy i am that she is born🥰</h2>
            <h3 id="hint">(Hover over the wrap)</h3>
            <div class='cover-wrapper' id="id-tag1"></div>
        </div>

        <div class="gift1"></div>
            <h2 class="gift-text">This is how i react when i see her 😍</h2>
           <div class='cover-wrapper' id="id-tag2"></div>
        </div>

        <div class="gift1"></div>
            <h2 class="gift-text">Me , when she isnt talking with me🥺</h2>
           <div class='cover-wrapper' id="id-tag3"></div>
        </div>

        <div class="gift1"></div>
            <h2 class="gift-text">Us , if she gives permission🙈</h2>
            <div class='cover-wrapper' id="id-tag4"></div>
        </div>

        <div class="gift1"></div>
            <h2 class="gift-text">Here is the final one for my gurl 🤪</h2>
            <div class='cover-final' id="id-tag5"></div>
        </div>

        <p id="p1">Behave well and do what I like.</p>
        <p id="p2">Be a good mummmmyyy and lets get spoiled together.💞</p>

    </body>

</html>